// GENERAL PROJECT STYLES
.container
    width: 100%
    padding: 0px 40px

h1
  font-size: clamp(5.313rem, -0.547rem + 6.25vw, 7.188rem)
  font-weight: 700
  line-height: 110%
  text-align: center
  margin-bottom: 32px

h2
  font-size: clamp(1.563rem, -0.104rem + 1.85vw, 2.188rem)
  font-weight: 700
  line-height: 110%
  margin: 0

h3
  color: white
  font-size: 58px
  font-weight: 700
  line-height: 110%
  margin-bottom: 64px

h1, h2, h3, h4 
    font-family: angst

button:hover 
    transition-duration: 1s
a:hover 
    transition-duration: 0.3s