.feedback
    display: flex
    flex-direction: column
    padding-bottom: 32px

    & h3
        color: black

.feedback_blocks
    display: flex
    width: 100%
    gap: 40px
    
.feedback_block 
    width: 100%
    margin-bottom: 32px

    &_wrapper
        width: 50%
        

.feedback_header
    display: flex
    justify-content: space-between
    padding-bottom: 30px
    margin-bottom: 16px
    border-bottom: 1px solid black

    & a
        color: black
        font-family: Angst
        font-size: 24px
        font-weight: 700
        line-height: 110%

.feedback_add
    display: none

    & p
        font-family: "Brygada 1918"
        font-size: 21px
        font-weight: 400
        line-height: 120%
        margin-bottom: 32px

//media

@media (max-width: 1440px)
    .feedback_add p
        font-size: clamp(0.625rem, 0.429rem + 0.98vw, 1.313rem)
    .feedback h3
        font-size: clamp(2rem, 1.536rem + 2.32vw, 3.625rem)
        margin-bottom: clamp(1.375rem, 0.625rem + 3.75vw, 4rem)
    .feedback_blocks
        flex-direction: column
        gap: 0
    .feedback_block_wrapper
        width: 100%
    .feedback_header 
        padding-bottom: clamp(0.5rem, 0.071rem + 2.14vw, 2rem)
        & a
            font-size: clamp(0.75rem, 0.536rem + 1.07vw, 1.5rem)
        .image
            height: clamp(0.625rem, 0.446rem + 0.89vw, 1.25rem)
        

@media (max-width: 500px)
    .feedback
        margin-bottom: 16px 
        
    .feedback_block
        margin-bottom: 8px
    .feedback_header 
        align-items: center
        padding-bottom: 8px
        & a
            font-size: 12px
    .targetEl 
        width: 80%
    .image
        width: 5px
        height: 10px


        