.feedback
    display: flex
    flex-direction: column
    align-items: center

.feedback h3
    color: black

.feedback_blocks
    width: 100%
    display: flex
    flex-direction: column
    flex-wrap: wrap
    

.feedback_block 
    width: 100%

.feedback_header
    display: flex
    width: 45%
    justify-content: space-between
    padding-bottom: 30px
    margin-bottom: 16px
    border-bottom: 1px solid black

.feedback_header a
    color: black
    font-family: Angst
    font-size: 24px
    font-weight: 700
    line-height: 110%

.feedback_add
    display: none

.feedback_add p
    font-family: "Brygada 1918"
    font-size: 21px
    font-weight: 400
    line-height: 120%
    margin-bottom: 32px
