footer
    background: black
    padding: 64px 0
    color: white
    font-family: "IBM Plex Sans"
    font-weight: 300
    & p
        font-family: IBM Plex Sans
        margin-bottom: 1rem
        font-weight: 100
    & a
        font-family: IBM Plex Sans
        line-height: 23px
        font-weight: 100

.footer_top
    display: flex
    width: 100%
    border-bottom: 1px solid white
    padding-bottom: 53.4px
    margin-bottom: 32px

    &_1
        margin-right: 46px
        height: clamp(2.938rem, -4.229rem + 7.96vw, 5.625rem)
    &_2
        height: clamp(2.875rem, -3.792rem + 7.41vw, 5.375rem)

.footer_bottom
    display: flex
    justify-content: space-between

    a
        color: white
    ul
        list-style: none
        padding: 0
        display: flex
        flex-direction: column
        gap: 16px

    &_left
        display: flex
        flex-direction: column
        justify-content: space-between
        .footer_image_wrapper
            display: flex
            gap: 16px

    &_right
        display: flex
        flex-direction: column
        justify-content: space-between

        & button
            width: 267px

    &_menu
        display: flex
        gap: 110px

        p
            font-weight: 700
            margin-bottom: 32px
    
               
//media
@media (max-width: 1440px)
    .footer_bottom_menu
        gap: clamp(1.688rem, -46.482rem + 59.29vw, 6.875rem)

@media (max-width: 1300px)
    footer
        padding: 40px 0
    .footer_top
        padding-bottom: 32px
        &_1
            width: clamp(15.625rem, 8.875rem + 11.25vw, 19rem)
            margin-right: 40px
        &_2
            width: clamp(37.5rem, 30rem + 12.5vw, 41.25rem)
    .footer_bottom
        flex-wrap: wrap
        &_menu
            order: 1
            & ul
                margin-bottom: 0
                gap: 32px
             
        &_right
            order: 3
            width: 100%
            position: relative
            flex-direction: row
            align-items: flex-end
            margin-top: 32px
            & button
                width: 60%
                margin: 0 
            & p
                margin: 0
                
        &_left
            order: 2
            gap: 16px
            

@media (max-width: 430px)
    body
        line-height: 11px
    footer
        padding: 32px 0
        & a
            line-height: 11px
        & p
            font-size: 12px
    .footer_top
        flex-direction: column
        padding-bottom: 16px
        margin-bottom: 16px
        &_1
            height: 21px
            width: 140px
            margin: 0 0 16px 0
        &_2
            width: 288px
            height: 20px
    .footer_bottom
        flex-direction: column
        &_menu
            order: 1
            gap: 27px
            & p
                font-size: 12px
                margin-bottom: 16px
            & ul
                font-size: 10px
                margin-bottom: 0
                gap: 16px
             
        &_right
            order: 2
            & button
                width: 100%
                height: 38px
                font-size: 12px
                margin: 32px 0
            & p
                position: absolute
                bottom: 16px
        &_left
            order: 3
            gap: 16px
            & p
                margin: 0
        
        