footer
    background: black
    padding: 64px 0
    color: white
    font-family: "IBM Plex Sans"
    font-weight: 300
    & p
        font-family: IBM Plex Sans
        margin-bottom: 1rem
        font-weight: 100
    & a
        font-family: IBM Plex Sans
        line-height: 23px
        font-weight: 100

.footer_top
    display: flex
    width: 100%
    border-bottom: 1px solid white
    padding-bottom: 53.4px
    margin-bottom: 32px

    &_1
        margin-right: 46px

.footer_bottom
    display: flex
    justify-content: space-between

    a
        color: white
    ul
        list-style: none
        padding: 0
        display: flex
        flex-direction: column
        gap: 16px

    &_left
        display: flex
        flex-direction: column
        justify-content: space-between
        .footer_image_wrapper
            display: flex
            gap: 16px
            

    &_right
        display: flex
        flex-direction: column
        justify-content: space-between

        & button
            width: 267px

    &_menu
        display: flex
        gap: 110px

        p
            font-weight: 700
            margin-bottom: 32px
    
               
//media

@media (max-width: 1760px)
    .footer_top
        padding-bottom: 32px
        &_1
            width: 308px
            margin-right: 40px
        &_2
            width: 660px
    .footer_bottom_right
        align-items: flex-end
    .footer_bottom_menu
        gap: 32px

@media (max-width: 430px)
    body
        line-height: 11px
    footer
        
        padding: 32px 0
        & a
            line-height: 11px
        & p
            font-size: 12px
    .footer_top
        flex-direction: column
        padding-bottom: 16px
        margin-bottom: 16px
        &_1
            height: 21px
            width: 140px
            margin: 0 0 16px 0
        &_2
            width: 288px
            height: 20px
    .footer_bottom
        flex-direction: column
        &_menu
            order: 1
            gap: 27px
            & p
                font-size: 12px
                margin-bottom: 16px
            & ul
                font-size: 10px
                margin-bottom: 0
                gap: 16px
             
           
        &_right
            order: 2
            & button
                width: 100%
                height: 38px
                font-size: 12px
                margin: 32px 0
            & p
                position: absolute
                bottom: 16px
        &_left
            order: 3
            gap: 16px
            & p
                margin: 0
        
        