footer
    background: black
    padding: 64px 0
    color: white
    font-family: "IBM Plex Sans"
    font-weight: 300


.footer_top
    display: flex
    border-bottom: 1px solid white
    padding-bottom: 53.4px
    margin-bottom: 32px
    gap: 46px

.footer_bottom
    display: flex
    justify-content: space-between

    a
        color: white
    ul
        list-style: none
        padding: 0
        display: flex
        flex-direction: column
        gap: 16px

    &_left
        display: flex
        flex-direction: column
        justify-content: space-between
        .footer_image_wrapper
            display: flex
            gap: 16px
            

    &_right
        display: flex
        flex-direction: column
        justify-content: space-between

    &_menu
        display: flex
        gap: 110px

        p
            font-weight: 700
            margin-bottom: 32px
    
        
        



