// body
// 	display: none

header
  color: white
  background-color: black
  display: flex
  flex-direction: row
  align-items: center
  width: 100%
  z-index: 100

.header_logo
  font-size: 47px
  margin-bottom: 0

.header_info
  margin-bottom: 0
  margin-left: 34px
  font-family: "Brygada 1918"
  font-size: 16px
  font-weight: 400
  line-height: 110%
  width: 200px

.header_menu
    display: flex
    padding: 16px 0px
    list-style: none
    margin-bottom: 0
    align-items: center
    justify-content: space-between
    transition-duration: 0.5s
    a
        color: white
        padding: 7px 14px
        // font-family: "IBM Plex Sans"
        &:hover
            background-color: rgb(49, 49, 49)
            border-radius: 5px
.menu
    padding: 0
    gap: 16px
    display: flex
    padding: 0
    list-style: none
    margin-bottom: 0
    align-items: center

.header_language
  display: flex
  align-items: center

.header_feedback
    border: 0.5px solid white
    border-radius: 100px
    padding: 7.5px 40px
    background: none
    color: white
    font-size: 21px
    cursor: pointer
    margin-right: 128px
    &:hover
        background: $accent
        border: 1px solid transparent

//burger menu

.burger_menu
  display: flex
  flex-direction: column
  font-family: IBM Plex Sans
  padding: 0
  gap: 16px
  padding: 0
  list-style: none
  margin-bottom: 0
  align-items: flex-start
  font-size: 24px
  & a
    color: white

.burger_menu_wrapper
  display: flex
  justify-content: space-between

.header_burger_language
  display: flex
  align-items: center
  width: 100%

.header_burger_menu-btn
  display: none
  position: relative
  height: 14px
  width: 20px
  border: none
  background: transparent

  & span
    position: absolute
    width: 20px
    height: 2px
    background-color: white
    border-radius: 50px
    left: 0px
    transition: 0.5s
    &:nth-child(1)
      transform: translateY(-6px)
    &:nth-child(3)
      transform: translateY(6px)

.header_burger_menu
  display: none
  padding: 0 16px

  .burger_footer_menu
    font-family: IBM Plex Sans
    list-style: none
    padding: 0
    gap: 16px
    display: flex
    flex-direction: column
    padding: 0
    margin-bottom: 0
    align-items: flex-start
    color: #FFFFFF80
          

// media

@media (max-width: 1600px)
  header
    height: 62px
  
  .header_info
    font-size: 12px
    width: 155px
    margin-left: 32px

  .menu
    & a
      font-size: 16px

  .header_feedback
    font-size: 16px

@media (max-width: 992px)
  header
    flex-direction: column
    height: 50px
  .container
    padding: 0 16px
  
  .header_info
    font-size: 6px
    margin-left: 8px
    width: 76px

  .menu 
    display: none

  .header_language
    display: none

  .header_burger_menu-btn
    display: block

  .header_feedback
    width: 100%
    margin: 32px 0

  .header_burger_menu
    display: block
    padding-top: 32px
    background-color: black
    height: 100vh
    width: 100vw
    position: absolute
    left: -100vw
    transition: 0.7s

  header.open .header_burger_menu
    transform: translateX(100%)
  header.open .header_burger_menu-btn span:nth-child(2)
    opacity: 0
  header.open .header_burger_menu-btn span:nth-child(1)
    transform: translateY(0) rotate(45deg) 
  header.open .header_burger_menu-btn span:nth-child(3)
    transform: translateY(0) rotate(-45deg) 