@use 'sass:math'
@use 'sass:color'

@import config
@import 'blocks/**/*'

a
  text-decoration-line: none

p
  margin: 0
  font-family: "Brygada 1918"
  font-size: 24px
  font-weight: 400
  line-height: 120%
  
main 
    padding-top: clamp(3.875rem, 0.208rem + 4.07vw, 5.25rem)

.button
  font-family: "IBM Plex Sans"
  border-radius: 100px
  background: $accent
  color: white
  width: 221px
  height: 55px
  border-style: none 
  transition-duration: 1s

  &:hover
    border: 1px solid rgb(128, 0, 255)
    background: transparent
    color: rgb(128, 0, 255)

.logo
  float: left
  display: flex
  align-items: center
  gap: 0

.main_location
  display: flex
  align-items: center
  gap: 10px
  margin-bottom: 64px
  margin-top: clamp(4rem, 0.667rem + 3.7vw, 5.25rem)

  img
    width: 30px
    height: 30px

  p
    font-family: "IBM Plex Sans", sans-serif
    font-size: 24px
    font-weight: 500
    line-height: 110%

.main_p_wrapper
  display: flex
  justify-content: center
  margin-bottom: 66px
  align-items: center
  & p
    font-size: clamp(1.313rem, 0.813rem + 0.56vw, 1.5rem)

.main_btn_wrapper
  display: flex
  justify-content: center

.main_menu
  display: flex
  justify-content: space-between
  gap: 38px
  margin-bottom: 64px
  a
    text-decoration: none
    color: black

.img_white
  position: absolute
  right: -10px
  opacity: 0
  transition: 0.4s
  height: 58px
  width: 58px

.main_menu_common
  width: 33.333%
  border-radius: 0px 0px 40px 0px
  box-sizing: border-box
  border-bottom: 1px solid rgb(0, 0, 0)
  border-right: 1px solid rgb(0, 0, 0)
  padding: 16px 0 22px 28px
  cursor: pointer
  margin-top: clamp(4.75rem, -3.917rem + 9.63vw, 8rem)
  background: white
  transition: all 0.5s ease

  &:hover
    border-radius: 40px 0px 40px 0px
    background: $accent
    border: 1px solid transparent

    .img_black
      transform: rotate(45deg)
      opacity: 0

    .img_white
      animation: vector-animation 0.5s 0.2s forwards

    .main_menu_wrapper, p
      color: white
      transition: 0.2s

  p
    font-family: "IBM Plex Sans"
    font-size: clamp(1rem, 0.167rem + 0.93vw, 1.313rem)
    font-weight: 300
    line-height: 120%
    width: clamp(20.688rem, -7.479rem + 31.3vw, 31.25rem)

.main_img_wrapper
  display: flex
  align-items: center
  position: relative
  height: 40px
  width: 40px
  margin-left: auto
  margin-right: 21px

.img_black
  position: absolute
  transition: 0.4s

.main_menu_wrapper
  display: flex
  align-items: center
  margin-bottom: 16px

//portfolio

.portfolio
  background-color: black
  padding: 64px 0
  
.portfolio_images 
  display: flex
  gap: 40px
  flex-wrap: wrap

  & img
    transition: 1s
    height: clamp(27rem, -1rem + 31.11vw, 37.5rem)

  & img:hover
    transform: scale(1.05)


  
// media

@media (max-width: 1440px)
  h1
    font-size: clamp(3.438rem, -0.313rem + 6.25vw, 5.313rem) 
    margin-bottom: clamp(1rem, -1rem + 3.33vw, 2rem) 
  .main_location
    margin-top: clamp(2rem, -2rem + 6.67vw, 4rem)
    & p
      font-size: 21px
    & img
      height: clamp(1.25rem, 2.08vw, 1.875rem)
      width: clamp(1.25rem, 2.08vw, 1.875rem)
  .main_p_wrapper
    padding: 0
    margin-bottom: clamp(2rem, -2.25rem + 7.08vw, 4.125rem)
    & p
      font-size: clamp(1rem, 0.375rem + 1.04vw, 1.313rem)
  .main_img_wrapper
    margin-right: 0
  .main_menu
    gap: clamp(1rem, -1.75rem + 4.58vw, 2.375rem)
    margin-bottom: clamp(2.5rem, -0.5rem + 5vw, 4rem)
    &_wrapper 
      margin-bottom: clamp(0.5rem, -0.5rem + 1.67vw, 1rem)
      & h2
        font-size: clamp(1.125rem, 0.25rem + 1.46vw, 1.563rem)
    &_common
      & p
        font-size: 15px
        width: clamp(15.625rem, 5.5rem + 16.88vw, 20.688rem)
    .img_black
      height: 30px
      width: 30px
    .img_white
      right: 0
      height: 44px
      width: 48px

@media (max-width: 960px)
  h1
    font-size: clamp(2rem, -0.013rem + 5.75vw, 3.438rem)
    margin-bottom: clamp(0.5rem, -0.2rem + 2vw, 1rem)
  .main_location
    margin-bottom: clamp(1rem, -3.2rem + 12vw, 4rem)
    gap: 8px
    & p
      font-size: clamp(0.75rem, -0.037rem + 2.25vw, 1.313rem)
    & img
      width: clamp(0.625rem, -0.25rem + 2.5vw, 1.25rem)
      height: clamp(0.625rem, -0.25rem + 2.5vw, 1.25rem)
  .main_p_wrapper p
    font-size: clamp(0.75rem, 0.4rem + 1vw, 1rem)
  .main_btn_wrapper button
    width: 60%
    height: 45px
    font-size: clamp(1.125rem, 0.863rem + 0.75vw, 1.313rem)
    margin-bottom: 50px
  .main_menu
    flex-direction: column
    align-items: center
    gap: 24px
    &_common
      margin-top: 50px
      width: 80%
      margin: 0
      & p
        width: clamp(18.75rem, 1.25rem + 50vw, 31.25rem)

@media (max-width: 560px)
  .container
    padding: 0 16px

  h1
    font-size: 32px
    text-align: start
    margin-bottom: 16px
  h3 
    font-size: 32px
    margin-bottom: 16px

  .main_location
    gap: 8px
    margin: 16px 0
    & img
      height: 10px
      width: 10px
    & p
      font-size: 10px
  
  .main_p_wrapper
    margin-bottom: 32px
    & p
      font-size: 10px

  .main_btn_wrapper button
    width: 283px
    height: 34px
    font-size: 12px
    margin: 0

  .main_menu
    flex-direction: column
    gap: 16px
    margin-top: 32px

    &_common
      width: 100%
      margin-top: 0
      border-radius: 0 0 20px 0
      & p
        font-size: 10px
        width: clamp(14.125rem, 7.958rem + 30.83vw, 18.75rem)
      & img
        height: 15px
        width: 15px

    &_wrapper
      margin-bottom: 0
      & h2
        font-size: clamp(0.75rem, 0.25rem + 2.5vw, 1.125rem)

      .img_black
        height: 20px
        width: 20px
      .img_white
        height: 30px
        width: 30px
        right: 12px

  .portfolio
    padding: 32px 0
    &_images 
      gap: 8px

      & img
        height: 194px


@keyframes vector-animation
  0%
    opacity: 0

  100%
    opacity: 1

    
    